@CHARSET "UTF-8";
h1{
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: darkorchid;
}
table {
    border: #000000 1px solid;
    background-color: #acd1b2;
    float: right;
    margin-right: 10px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
thead {
    font-family: Verdana;
    text-align:left;
    padding-top: 20px;
    padding-bottom: 20px;
    color: fuchsia;
}
td {
    height: 20px;
    width: 75px;
}
#Part1{
    width: 45%;
    float: left;
}